[Unit]
After=network.target

[Service]
ExecStart=/home/odroid/Desktop/mavserver.py
Restart=on-failure
RestartSec=10
StartLimitInterval=1000
StartLimitBurst=500

[Install]
WantedBy=default.target